.dropdown-menu {
  border: 0;
}
.dropdown-menu .divider {
  height: inherit;
  background-color: inherit;
  margin: inherit;
  overflow: inherit;
}
.dropdown-menu > li > a {
  padding: 5px 20px;
}
.dropdown-header {
  padding: 3px 20px;
  font-size: 16px;
}
.dropdown-header a {
  color: #999999;
}
.dropdown-submenu > a:after {
  border-left-color: #666666;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #262626;
}
.nav > li:hover:before {
  opacity: 1;
}
.nav > li > a,
.nav > li > span,
.nav > li > .separator {
  position: relative;
  display: block;
  padding: 10px 15px;
  line-height: 24px;
  cursor: pointer;
  color: #333333;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
}
@media (min-width: 1200px) {
  .nav > li > a,
  .nav > li > span,
  .nav > li > .separator {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}
.nav .caret {
  border-top-color: #666666;
  border-bottom-color: #666666;
  border-bottom-width: 0;
  border-style: solid;
}
.nav span:hover .caret,
.nav a:hover .caret {
  border-top-color: #ff9800;
  border-bottom-color: #ff9800;
}
.t3-navhelper {
  background: transparent;
  border-top: 1px solid #eeeeee;
  color: #555555;
  padding: 5px 0;
}
.breadcrumb {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  padding: 0;
}
.breadcrumb > li + li:before {
  content: "-";
  padding: 0;
}
.breadcrumb a {
  color: #ffffff;
}
.breadcrumb a:hover {
  color: #ffffff;
}
.breadcrumb > .active {
  color: #ffffff;
}
.breadcrumb > .active + li:before {
  content: "";
  padding: 0;
}
.breadcrumb > .active .hasTooltip {
  padding-right: 12px;
}
.breadcrumb .divider {
  display: none;
}
.pagination {
  display: block;
}
.pagination:before,
.pagination:after {
  content: " ";
  display: table;
}
.pagination:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  .pagination {
    float: left;
  }
}
.pagination .pagination {
  display: inline-block;
}
.counter {
  display: inline-block;
  margin-top: 24px;
  padding: 8px 12px;
  background-color: #ffffff;
  border: 1px solid #ff9800;
  border-radius: 0px;
}
@media screen and (min-width: 768px) {
  .counter {
    float: right;
  }
}